main {
	background-size: contain;
	min-height: 800px;
	font-size: 0;
}


body {
 	background: url(../images/outerspace_landscape.jpeg) no-repeat;
 	background-size: cover;
}

.container {
	padding-left: 60px;
	padding-right: 60px;
}

nav {
	top: 0;
	height: 50px;
	position: fixed;
	background-color: gray;
	width: 100%;
}

nav .logo {
	height: 50px;
	border-radius: 50%;
	vertical-align: left;
}

nav li {
	display: inline-block;
	vertical-align: top;
}

.logo {
	border-radius: 50%;
	position: relative;
	height: 50px;
	width: 50px;
}

nav ul li a {
	position: 10px;
	display: inline-block;
	float: left;
	top: 0px;
}

nav ul li::after {
	content: "   | ";
	margin-left: 5px;
}

.boxp {
 	margin-top: 150px;
 	width: 600px;
 	height: 300px;
 	position: relative;
 	border: 10px dotted green;
 	margin-left: auto;
 	margin-right: auto;
}

.dog, .cat {
	size: 200px 200px;
	position: relative;
}

.dog {
	bottom: -120px;
	right: -90px;
}

.cat {
	top: -90px;
	left: -90px;
}

